*.a
*.sw*

*.cmake
CMakeCache.txt
CMakeFiles
Makefile
compile_commands.json
moc_*
*.moc

genesis.json
hardfork.hpp

libraries/utilities/git_revision.cpp

libraries/wallet/Doxyfile
libraries/wallet/api_documentation.cpp
libraries/wallet/doxygen
libraries/egenesis/embed_genesis

programs/cli_wallet/cli_wallet
programs/js_operation_serializer/js_operation_serializer
programs/witness_node/witness_node
programs/build_helpers/cat-parts
programs/build_helpers/member_enumerator
programs/delayed_node/delayed_node
programs/genesis_util/convert_address
programs/genesis_util/genesis_update
programs/genesis_util/get_dev_key
programs/size_checker/size_checker

tests/app_test
tests/chain_bench
tests/chain_test
tests/intense_test
tests/performance_test
tests/cli_test
tests/es_test
tests/generate_empty_blocks/generate_empty_blocks

doxygen

wallet.json
witness_node_data_dir

*.wallet

programs/witness_node/object_database/*

object_database/*

*.pyc
*.pyo

.vscode/*